<?php

$app = $data['app'];

$env = array(
    'APP_ID' => 'uc',
    // Environment Settings
    'DIR_WEB' => $app->dir('ROOT', 'web/'),
    'URL_WEB' => '/', // URL path for web access
    // Error Settings
    'ERROR_TEMPLATES' => array(
        'text/plain' => 'src/App/res/error/text.plain.php',
        'text/html' => 'src/App/res/error/text.html.php',
        'application/json' => 'src/App/res/error/application.json.php',
    ),
    'ERROR_TEMPLATES_LANG' => array(
        'en' => 'src/App/lang/en.php',
        'de' => 'src/App/lang/de.php',
        'es' => 'src/App/lang/es.php',
        'fr' => 'src/App/lang/fr.php',
        'pt' => 'src/App/lang/pt.php',
    ),
    'ERROR_NON_FATAL' => E_NOTICE | E_DEPRECATED | E_USER_NOTICE | E_USER_DEPRECATED, // set non fatal, it only logs (if log error is enabled)
    'ERROR_LOG_FILE' => 'error.log', // Error log file
    'ERROR_MAX_LENGTH' => 4096, // Error string max length
    'ERROR_DISPLAY' => 1, // Enable (1) or disable (0) detailed error messages
    'ERROR_LOGGING' => 1, // Enable (1) or disable (0) error logging
    // Logging Configuration
    'LOG_DIR' => 'var/log/',
    'LOG_DIR_TIMESTAMP' => 'var/lib/',
    'LOG_SIZE_LIMIT_MB' => 5,
    'LOG_CLEANUP_INTERVAL_DAYS' => 1,
    'LOG_RETENTION_DAYS' => 7,
    'LOG_MAX_FILES' => 10,
);

$ini = array(
    // Timezone
    'date.timezone' => 'Asia/Manila',
    // Error Reporting
    'display_errors' => 1,
    'display_startup_errors' => 1,
    'error_reporting' => E_ALL,
    'log_errors' => 1,
    // General Settings
    'default_charset' => 'UTF-8',
    // Performance Settings
    'memory_limit' => '16M',
    'max_execution_time' => 30,
);

return array(
    'handler' => array('Shared_Pipe_ErrorHandler', 'App_Pipe_Init'),
    'mode' => array(
        'index.php' => 'dev',
        'compile.php' => 'dev',
    ),
    'env' => array(
        'dev' => array(
            'ROUTE_REWRITE' => 1,

            'DB' => array(
                'DEFAULT' => array(
                    'DSN' => 'sqlite:' . $app->dir('ROOT', '/var/lib/.sqlite'),
                    'USER' => 'root',
                    'PASS' => '',
                    'QUERY' => "
                        PRAGMA journal_mode = WAL;
                        PRAGMA synchronous = NORMAL;
                        PRAGMA cache_size = -64000;
                    "
                ),
                'GAME' => array(
                    'DSN' => 'sqlite:' . $app->dir('ROOT', '/var/lib/.game.sqlite'),
                    'USER' => 'root',
                    'PASS' => '',
                    'QUERY' => "
                        PRAGMA journal_mode=MEMORY;
                        PRAGMA synchronous=OFF;
                        PRAGMA temp_store=MEMORY;
                        PRAGMA cache_size=-131072;
                        PRAGMA mmap_size=268435456;
                    "
                )
            )
        ) + $env,
        'prod' => array(
            'ROUTE_REWRITE' => 1,

            'SHOW_ERRORS' => 0,

            'DB' => array(
                'DEFAULT' => array(
                    'DSN' => 'sqlite:' . $app->dir('ROOT', '/var/lib/.sqlite'),
                    'USER' => 'root',
                    'PASS' => '',
                    'QUERY' => "
                        PRAGMA journal_mode = WAL;
                        PRAGMA synchronous = NORMAL;
                        PRAGMA cache_size = -64000;
                    "
                ),
                'GAME' => array(
                    'DSN' => 'sqlite:' . $app->dir('ROOT', '/var/lib/.game.sqlite'),
                    'USER' => 'root',
                    'PASS' => '',
                    'QUERY' => "
                        PRAGMA journal_mode=MEMORY;
                        PRAGMA synchronous=OFF;
                        PRAGMA temp_store=MEMORY;
                        PRAGMA cache_size=-131072;
                        PRAGMA mmap_size=268435456;
                    "
                )
            )
        ) + $env,
    ),
    'ini' => array(
        'dev' => array(
            
        ) + $ini,
        'prod' => array(
            'display_errors' => 0,
            'display_startup_errors' => 0,
            'error_reporting' => E_ALL & ~E_NOTICE & ~E_DEPRECATED,
            'log_errors' => 1,
        ) + $ini,
    )
);