body {
    padding: 2em;
}
.modal {
    display: flex;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 8%;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}
.modal.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.125s ease, visibility 0.125s ease;
}
.modal-content {
    background-color: #fff;
    padding: 2rem;
    max-width: 400px;
    width: 100%;
    margin: auto;
    position: relative;
    z-index: 1;
    transition: transform 0.2s ease;
}
.modal-content.small {
    transition: transform 0.125s ease;
    transform: scale(0.9);
}
.modal-content-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    color: #5c636a;
}