.modal {
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.modal.active {
    visibility: visible;
}
.modal-content {
    background: #fff;
    border: 1px solid #d4d4d4;
    bottom: 0;
    left: 0;
    margin: 10% auto;
    max-height: 80%;
    max-width: 500px;
    overflow: auto;
    padding: 1em;
    position: absolute;
    right: 0;
    width: 86%;
}